PORT=3336
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=jv_tv
MONGODB_COLLECTION=channels
ADMIN_TOKEN=troque-por-um-token-forte
PLAYBACK_MODE=proxy
